$xs-max: 600px;
$sm-min: $xs-max;
$sm-max: 960px;
$md-min: $sm-max;
$md-max: 1264px;
$lg-min: $md-max;
$lg-max: 1920px;
$xl-min: $lg-max;

$background-color: rgb(var(--v-theme-background));
$primary-color: rgb(var(--v-theme-primary));
$secondary-color: rgb(var(--v-theme-secondary));
$brand-color: $primary-color;

$video-controls-height: 80px;

:export {
    // biome-ignore lint/correctness/noUnknownProperty: these are variable names, not CSS properties
	toast-height: 48px;// $snackbar-wrapper-min-height;
	// biome-ignore lint/correctness/noUnknownProperty: these are variable names, not CSS properties
	toast-height-multiline: 68px; // vuetify.$snackbar-multi-line-wrapper-min-height;
	// biome-ignore lint/correctness/noUnknownProperty: these are variable names, not CSS properties
	toast-margin: 8px; // vuetify.$snackbar-wrapper-margin;
	// biome-ignore lint/correctness/noUnknownProperty: these are variable names, not CSS properties
	toast-padding: 0; // vuetify.$snackbar-wrapper-padding;
}
