@import '~vuetify/src/components/VSnackbar/_variables.scss';

$xs-max: 600px;
$sm-min: $xs-max;
$sm-max: 960px;
$md-min: $sm-max;
$md-max: 1264px;
$lg-min: $md-max;
$lg-max: 1920px;
$xl-min: $lg-max;

$background-color: #121212;
$brand-color: #ffb300;

:export {
	toast-height: $snackbar-wrapper-min-height;
	toast-height-multiline: $snackbar-multi-line-wrapper-min-height;
	toast-margin: $snackbar-wrapper-margin;
	toast-padding: $snackbar-wrapper-padding;
}
