$xs-max: 600px;
$sm-min: $xs-max;
$sm-max: 960px;
$md-min: $sm-max;
$md-max: 1264px;
$lg-min: $md-max;
$lg-max: 1920px;
$xl-min: $lg-max;

$background-color: #121212;
$brand-color: #ffb300;

:export {
	toast-height: 48px;// $snackbar-wrapper-min-height;
	toast-height-multiline: 68px; // vuetify.$snackbar-multi-line-wrapper-min-height;
	toast-margin: 8px; // vuetify.$snackbar-wrapper-margin;
	toast-padding: 0; // vuetify.$snackbar-wrapper-padding;
}
