*.log
.vscode
.github
logs
tests
env
coverage
*.yml
db/
dist/
client/dist/
client/coverage/
server/coverage/
common/ts-out/
server/ts-out/
.git/
.optic/
node_modules/
benchmarks/
target/
.slugignore
ts-out
