.legendBox {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 25px;
	background-color: #181b1f;
	border-radius: 5px;
	font-family: Inter, Helvetica, Arial, sans-serif;
}

.legendBox ul {
	list-style-type: none;
	padding: 0;
}

.legendBox li {
	margin-bottom: 5px;
}