.banner-enter-active,
.banner-leave-active {
	transition: all 0.5s;
}

.banner-enter-from,
.banner-enter,
.banner-leave-to {
	opacity: 0;
	transform: scaleY(0);
	max-height: 0;
}

.banner-leave-from,
.banner-enter-to,
.banner-leave {
	opacity: 1;
	transform: scaleY(100%);
	max-height: 50px;
}