[package]
name = "harness-tests"
version = "0.8.0"
edition = "2021"

[dependencies]
harness.workspace = true
ott-balancer-protocol.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
test-context.workspace = true
tokio.workspace = true
